@model AuthorViewModel

<tr>
    <td>@Model.Name</td>
    <td>

        <span class=" js-status    badge badge-light-@(Model.Deleted?"danger":"success")">@(Model.Deleted ? "Deleted" : "Available")</span>

    </td>
    <td>@Model.CretedOn</td>
    <td class="js-lastupdate">@Model.LastUpdate</td>
    <td>
        @*<a class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary" asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.Id" >
        Edit
        </a>*@

        <button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
            <!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
            <span class="svg-icon svg-icon-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="5" y="5" width="5" height="5" rx="1" fill="currentColor"></rect>
                        <rect x="14" y="5" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                        <rect x="5" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                        <rect x="14" y="14" width="5" height="5" rx="1" fill="currentColor" opacity="0.3"></rect>
                    </g>
                </svg>
            </span>
            <!--end::Svg Icon-->
        </button>
        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-semibold w-200px py-3" data-kt-menu="true" style="">
            <!--begin::Menu item-->
            <div class="menu-item px-3">
                <a href="javascript:;" class="menu-link px-3   js-renderPopup"
                   data-titel="Edit Author"
                   data-url="/Authors/Edit/@Model.Id"
                   data-update="true">
                    Edit
                </a>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3">
                <a href="javascript:;" class="menu-link flex-stack px-3 js-changstatus"
                   data-url="/Authors/ChangeStatue/@Model.Id">
                    Change Status
                </a>
            </div>
            <!--end::Menu item-->
        </div>
    </td>


</tr>